@import url('https://fonts.googleapis.com/css2?family=Bokor&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  .custom{
    font-family: "DM Sans", serif;
  }

  .nav_color{
    color: #1E0E62;
  }

  .nav_btn{
    color: #EBEAED;
  }

  .nav_btn2{
    background-color: #25DAC5;
  }

  .show{
    display: block !important;
    position: absolute;
    right: 5px;
    top: 100px;
    background-color:#EBEAED ;
    height: 25vh;
    padding: 10px;
  }



  .showClose{
    display: flex !important;
  }

  .hideMenu{
    display: none !important;
  }
